html {
  --s: 75px; /* control the size*/
  --c1: #4c1010;
  --c2: #522100;

  --_s: calc(2 * var(--s)) calc(2 * var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%, var(--c2) 68% 70%, #0000 72%;
  background:
    radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s) / var(--_s),
    radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s) / var(--_s),
    radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0 / var(--_s),
    radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0 / var(--_s),
    repeating-conic-gradient(var(--c1) 0 25%, #0000 0 50%) 0 0 / var(--_s),
    radial-gradient(var(--_c)) 0 calc(var(--s) / 2) / var(--s) var(--s)
      var(--c1);
  color: white;
}
body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  margin: 0;
  padding: 0;
}
#map {
  background-color: rgba(74, 74, 74, 0.7);
  float: left;
  min-height: 500px;
  min-width: 500px;
  height: 80vh;
  width: 80vh;
  margin: 30px;
  margin-bottom: 0;
  margin-left: 5%;
  border: 6px outset #524800;
}
menu {
  float: left;
  width: 30vw;
}
nav {
  width: 100%;
  height: 90px;
  background-color: rgb(35, 0, 0);
  a {
    margin: 20px 6vw;
    padding: 10px 0;
    text-align: center;
    display: border-box;
    float: left;
    color: white;
    background-color: #4c1010;
    font-size: 30px;
    min-width: 200px;
    width: 20vw;
    text-decoration: none;
    border: 1px solid #4c1010;
    border-radius: 15px;
    &:hover {
      background-color: #522100;
      border: 1px solid #524800;
    }
    &.disabled {
      color: goldenrod;
      background-color: black;
    }
  }
}

input[type='range'] {
  appearance: none;
  background: rgb(35, 0, 0);
  height: 20px;
  width: 70%;
  border-radius: 15px;
}
input[type='range']::-webkit-slider-thumb {
  appearance: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: goldenrod;
  cursor: pointer;
}

#gradientLegend {
  margin: 10px;
  width: 150px;
  height: 50px;
  border: 5px outset #524800;
  background-color: black;
}

.secondElectionContainer {
  color: dimgray;
  select,
  imput {
    background-color: dimgray;
  }
}
