:root {
  --background-light-color: #414647;
  --background-dark-color: #242834;
  --background-third-color: #3c3f3f;
  --border-color: #004f52;

  --ui-color: #4a4a66;
  --ui-hover-color: #72729b;
  --text-color: #dddddd;
}

h5 {
  color: dimgray;
  font-weight: normal;
  margin-left: 30px;
}

html {
  --s: 75px; /* control the size*/
  --c1: var(--background-light-color);
  --c2: var(--background-third-color);

  --_s: calc(2 * var(--s)) calc(2 * var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%, var(--c2) 68% 70%, #0000 72%;
  background:
    radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s) / var(--_s),
    radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s) / var(--_s),
    radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0 / var(--_s),
    radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0 / var(--_s),
    repeating-conic-gradient(var(--c1) 0 25%, #0000 0 50%) 0 0 / var(--_s),
    radial-gradient(var(--_c)) 0 calc(var(--s) / 2) / var(--s) var(--s)
      var(--c1);
  color: var(--text-color);
}
body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  margin: 0;
  padding: 0;
}
#map {
  background-color: rgba(74, 74, 74, 0.7);
  float: left;
  min-height: 500px;
  min-width: 500px;
  height: 80vh;
  width: 80vh;
  margin: 30px;
  margin-bottom: 0;
  margin-right: 3px;
  margin-left: 5%;
  border: 6px outset var(--border-color);
}

menu {
  margin-left: 0;
  padding: 0;
  float: left;
  min-width: 250px;
  width: 10vw;

  h4 {
    margin: 15px 0;
  }

  button {
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--ui-color);
    border: 3px outset var(--border-color);
    &:hover {
      background-color: var(--ui-hover-color);
      cursor: pointer;
    }
  }

  #refresh {
    margin: 20px 0;
    font-size: 15px;
    height: 40px;
    width: 100%;
  }
  #refreshDisplay {
    position: fixed;
    bottom: 40px;
    right: 10px;
    height: 50px;
    width: 80px;
  }
  label {
    text-align: center;
  }
  select {
    display: block;
    width: 90%;
    text-align: center;
    font-weight: bold;
    padding: 2px;
    margin: 5px;
    border: none;
    color: var(--text-color);
    background-color: var(--ui-color);
    &:hover {
      background-color: var(--ui-hover-color);
      cursor: pointer;
    }
  }
  input[type='range'] {
    appearance: none;
    background: var(--background-dark-color);
    height: 20px;
    width: 100%;
    border-radius: 15px;
  }
  input[type='range']::-webkit-slider-thumb {
    appearance: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
  }
  #precentageMinValue,
  #precentageMaxValue {
    width: 70%;
    text-align: center;
  }

  label[for='secondElectionCheckbox'] {
    &:hover {
      cursor: pointer;
    }
  }
  input[type='checkbox'] {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: slategray;
    &:hover {
      background-color: navy;
      cursor: pointer;
    }
    &:checked {
      background-color: lightgreen;
      &:hover {
        background-color: green;
      }
    }
  }

  input[type='color'] {
    background-color: var(--background-dark-color);
  }
}
nav {
  overflow-x: hidden;
  width: 100%;
  min-height: 90px;
  background-color: var(--background-dark-color);
  a {
    margin: 20px max(3vw, 30px);
    padding: 10px 0;
    text-align: center;
    display: border-box;
    float: left;
    color: white;
    background-color: var(--background-light-color);
    font-size: 30px;
    min-width: 200px;
    width: 15vw;
    text-decoration: none;
    border: 1px solid var(--background-light-color);
    border-radius: 15px;
    &:hover {
      background-color: var(--background-third-color);
      border: 1px solid var(--border-color);
    }
    &.disabled {
      color: gray;
      background-color: black;
      &:hover {
        background-color: black;
        cursor: default;
        border: 1px solid var(--background-light-color);
      }
    }
  }
}

#gradientLegend {
  margin: 10px 0;
  width: 150px;
  height: 30px;
  border: 5px outset var(--border-color);
  background-color: black;
}

#groupingGradients div {
  background-color: black;
  margin: 10px 0;
  width: 150px;
  height: 20px;
}

input:not(:checked) + .secondElectionContainer {
  color: dimgray;
  select,
  imput {
    background-color: dimgray;
  }
}

h1 {
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px black;
}
p {
  font-size: 30px;
  margin: 30px 100px;
  a {
    text-decoration: none;
    color: skyblue;
    &:visited {
      color: violet;
    }
    &:hover {
      color: aqua;
    }
  }
}
ul {
  font-size: 25px;
  margin: 30px 100px;
}
h6 {
  font-weight: normal;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 1px;
}

.info {
  border-radius: 20px;
  border: 1px solid gray;
  position: relative;
  overflow-y: scroll;
  height: 175px;
  width: 420px;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  text-justify: inter-word;
  h4 {
    overflow-x: hidden;
    white-space: nowrap;
    display: block;
    position: sticky;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 6px dimgray;
    top: 0;
    margin-top: 0;
    height: 30px;
    padding-left: 10px;
    font-size: 20px;
  }
  p {
    margin: 0;
    padding-left: 10px;
    font-size: 18px;
  }
}

table {
  float: left;
  font-size: 0.8rem;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 5px;
  border: 1px solid black;
  border-collapse: collapse;
  margin: 10px;
  margin-top: 30px;
  padding: 5px;
  background-color: rgba(74, 74, 74, 0.4);
}
th,
td {
  height: 25px;
  padding: 0;
  border: 1px solid black;
  user-select: none;
  white-space: nowrap;
}
tr:not(:has(input[type='radio']:checked)) .candiate-name {
  color: gray;
}

table.compare tr td input[type='radio']:checked {
  background-color: darkgreen;
}
table.compare tr td input[type='radio']:checked::before {
  content: '✅️';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

input[type='radio'] {
  margin: 0;
  appearance: none;
  position: relative;
  width: 60px;
  height: 25px;
  background-color: var(--background-dark-color);
  &:hover {
    border: 2px solid goldenrod;
  }
  &:checked {
    &[value='centrum'] {
      background-color: #ffff99;
    }
    &[value='prawica'] {
      background-color: #9999ff;
    }
    &[value='lewica'] {
      background-color: #ff5555;
    }
    &[value='inni'] {
      background-color: dimgray;
    }
    &[value='zignoruj'] {
      background-color: pink;
    }
  }
}

/*charts*/
.chartContainer {
  border: 6px outset var(--border-color);
  float: left;
  margin: 25px;
  padding: 15px;
  width: 800px;
  background-color: rgba(0, 0, 0, 0.9);
  p {
    font-size: 12px;
    text-align: center;
    margin: 0;
    color: dimgray;
  }
  div {
    border-radius: 50px;
  }
}
input:not(:checked) + .specificRegionContainer {
  select,
  input[type='text'] {
    background-color: dimgray;
  }
}

input:not(:checked) + input[type='range'] {
  background-color: black;
  &::-webkit-slider-thumb {
    background-color: dimgray;
  }
}

input[type='text'] {
  width: 90%;
}

.bubbleGradientDisplay {
  background:
    linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1) 80%),
    linear-gradient(
      to right,
      red 0%,
      purple 49.9%,
      white 50.1%,
      purple 50.1%,
      blue 100%
    );
  height: 30px;
  width: 90%;
  margin: 0 auto;
}
