:root {
  --background-light-color: #414647;
  --background-dark-color: #242834;
  --background-third-color: #3c3f3f;
  --border-color: #264f51;

  --ui-color: #4a4a66;
  --ui-hover-color: #72729b;
  --text-color: #ffffff;
}

h5 {
  color: dimgray;
  font-weight: normal;
  margin-left: 30px;
}

html {
  --s: 50px; /* control the size*/
  --c1: var(--background-light-color);
  --c2: var(--background-third-color);

  --_s: calc(2 * var(--s)) calc(2 * var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%, var(--c2) 68% 70%, #0000 72%;
  background:
    radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s) / var(--_s),
    radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s) / var(--_s),
    radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0 / var(--_s),
    radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0 / var(--_s),
    repeating-conic-gradient(var(--c1) 0 25%, #0000 0 50%) 0 0 / var(--_s),
    radial-gradient(var(--_c)) 0 calc(var(--s) / 2) / var(--s) var(--s)
      var(--c1);
  color: var(--text-color);
}

button {
  font-weight: bold;
  color: var(--text-color);
  background-color: var(--border-color);
  border: 3px outset var(--background-dark-color);
  &:hover {
    background-color: var(--ui-hover-color);
    cursor: pointer;
  }
  &:active {
    background-color: #242834;
    border: inset;
  }
}

#refresh {
  font-size: 15px;
  height: 40px;
  width: 100%;
}
#refreshDisplay {
  font-size: 15px;
  height: 40px;
  width: 50%;
  margin: 5px 25%;
}

input[type='range'] {
  appearance: none;
  background: var(--background-dark-color);
  height: 20px;
  width: 100%;
  border-radius: 15px;
}
input[type='range']::-webkit-slider-thumb {
  appearance: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  margin: 0;
  padding: 0;
}

section {
  margin-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  gap: 50px;
  justify-content: start;
}

.mapAndLegendDisplay {
  display: block;
  min-height: 500px;
  min-width: 500px;
  margin-bottom: 0;
  margin-left: 50px;
  h4 {
    margin: 0;
    font-size: 25px;
  }
}

.legendSegment {
  min-height: 90px;
}

#turnoutColorSegment {
  width: 100%;
  .colorPicker {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    h6 {
      flex-basis: 60%;
    }
    input[type='color'] {
      flex-basis: 20%;
      height: 35px;
      background-color: var(--border-color);
    }
  }
}
.precentageMinValue {
  left: -20px;
}
.precentageMaxValue {
  right: -20px;
}
#groupingGradients {
  position: relative;
  border: 3px outset var(--border-color);
  div {
    background-color: black;
    margin: 0;
    height: 15px;
  }
  p {
    position: absolute;
    margin: 0;
    color: black;
    background-color: #ffffff;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
    top: 50%;
    transform: translate(0%, -50%);
  }
}

input[type='number'] {
  width: 40px;
}
#gradientLegend {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  height: 30px;
  border: 5px outset var(--border-color);
  background-color: black;
  #negativeLegend {
    width: 100%;
    position: absolute;
    height: 10px;
    bottom: 0;
  }
  p {
    z-index: 99;
    position: absolute;
    margin: 0;
    color: black;
    background-color: #ffffff;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
    top: 50%;
    transform: translate(0%, -50%);
  }
}

article {
  border: 1px solid black;
  flex-basis: 20%;
  min-width: 375px;
  background-color: #66339922;
  position: relative;
  .lockedDisplayInfo {
    color: #aaa;
    position: absolute;
    padding: 5px;
    top: 0;
    right: 0;
    height: 40px;
    width: 97%;
    text-align: center;
    background-color: #2f00ff44;
  }
  h4 {
    margin-top: 60px;
    font-size: 1.5rem;
    text-align: center;
  }
  table {
    width: 90%;
    margin: 0 10px;
    font-size: 1.2rem;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 30px;
    padding: 0;
  }
  th,
  td {
    width: 80%;
    text-align: left;
    height: 20px;
    padding: 0 0px;
    border-bottom: 1px solid black;
  }
  .tabNum {
    width: 20%;
    text-align: right;
  }
}
#map {
  background-color: rgba(74, 74, 74, 0.7);
  min-height: 500px;
  min-width: 500px;
  height: 65vh;
  width: 75vh;
  border: 6px outset var(--border-color);
}

menu {
  margin-left: 0;
  padding: 0;
  min-width: 250px;
  flex-basis: 20%;

  h4 {
    margin: 15px 0;
  }

  label {
    text-align: center;
  }
  select {
    display: block;
    width: 100%;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding: 2px;
    margin: 5px;
    border: none;
    color: var(--text-color);
    background-color: var(--ui-color);
    &:hover {
      background-color: var(--ui-hover-color);
      cursor: pointer;
    }
    border: 1px inset var(--border-color);
  }
  .electionDetailSelects {
    display: flex;
    select {
      flex-grow: 1;
      flex-basis: 33%;
      width: auto;
    }
  }

  label[for='secondElectionCheckbox'] {
    &:hover {
      cursor: pointer;
    }
  }
  input[type='checkbox'] {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: slategray;
    &:hover {
      background-color: navy;
      cursor: pointer;
    }
    &:checked {
      background-color: lightgreen;
      &:hover {
        background-color: green;
      }
    }
  }
  table {
    float: left;
    font-size: 0.8rem;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 5px;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 30px;
    padding: 5px;
    background-color: rgba(74, 74, 74, 0.4);
  }
  th,
  td {
    height: 20px;
    padding: 0 0px;
    border: 1px solid black;
    user-select: none;
    white-space: nowrap;
  }
  tr:not(:has(input[type='radio']:checked)) .candiate-name {
    color: gray;
  }

  table.compare tr td input[type='radio']:checked {
    background-color: darkgreen;
  }
  table.compare tr td input[type='radio']:checked::before {
    content: '✅️';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

nav {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 70px;
  background-color: var(--background-dark-color);
  a {
    margin: 5px 30px;
    padding: 10px 0;
    text-align: center;
    display: border-box;
    float: left;
    color: white;
    background-color: var(--background-light-color);
    font-size: 30px;
    min-width: 200px;

    text-decoration: none;
    border: 1px solid var(--background-light-color);
    border-radius: 15px;
    &:hover {
      background-color: var(--background-third-color);
      border: 1px solid var(--border-color);
    }
    &.disabled {
      color: gray;
      background-color: black;
      &:hover {
        background-color: black;
        cursor: default;
        border: 1px solid var(--background-light-color);
      }
    }
  }
}

input:not(:checked) + .secondElectionContainer {
  color: dimgray;
  select,
  imput {
    background-color: dimgray;
  }
}

h1 {
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px black;
}
p {
  font-size: 30px;
  margin: 30px 100px;
  a {
    text-decoration: none;
    color: skyblue;
    &:visited {
      color: violet;
    }
    &:hover {
      color: aqua;
    }
  }
}
ul {
  font-size: 25px;
  margin: 30px 100px;
}
h6 {
  margin: 10px 0;
  font-weight: normal;
  text-align: center;
  font-size: 14px;
}

.info {
  border-radius: 20px;
  border: 1px solid gray;
  position: relative;
  overflow-y: scroll;
  height: 175px;
  width: 420px;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  text-justify: inter-word;
  h4 {
    overflow-x: hidden;
    white-space: nowrap;
    display: block;
    position: sticky;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 6px dimgray;
    top: 0;
    margin-top: 0;
    height: 30px;
    padding-left: 10px;
    font-size: 20px;
  }
  p {
    margin: 0;
    padding-left: 10px;
    font-size: 18px;
  }
}

input[type='radio'] {
  margin: 0;
  appearance: none;
  position: relative;
  width: 60px;
  height: 25px;
  background-color: var(--background-dark-color);
  &:hover {
    border: 2px solid goldenrod;
  }
  &:checked {
    &[value='centrum'] {
      background-color: #ffff99;
    }
    &[value='prawica'] {
      background-color: #9999ff;
    }
    &[value='lewica'] {
      background-color: #ff5555;
    }
    &[value='inni'] {
      background-color: dimgray;
    }
    &[value='zignoruj'] {
      background-color: pink;
    }
  }
}

/*charts*/
.chartContainer {
  border: 6px outset var(--border-color);
  float: left;
  margin: 25px;
  padding: 15px;
  width: 800px;
  background-color: rgba(0, 0, 0, 0.9);
  p {
    font-size: 12px;
    text-align: center;
    margin: 0;
    color: dimgray;
  }
  div {
    border-radius: 50px;
  }
}
input:not(:checked) + .specificRegionContainer {
  select,
  input[type='text'] {
    background-color: dimgray;
  }
}

input[type='checkbox']:not(:checked) + input[type='range'] {
  background-color: black;
  &::-webkit-slider-thumb {
    background-color: dimgray;
  }
}

input[type='text'] {
  width: 90%;
}

.bubbleGradientDisplay {
  background:
    linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1) 80%),
    linear-gradient(
      to right,
      red 0%,
      purple 49.9%,
      white 50.1%,
      purple 50.1%,
      blue 100%
    );
  height: 30px;
  width: 90%;
  margin: 0 auto;
}

main {
  h3,
  h4 {
    margin: 20px 50px;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  a {
    text-decoration: none;
    color: skyblue;
    &:visited {
      color: violet;
    }
    &:hover {
      color: aqua;
    }
  }
}
